@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

@font-face {
    font-family: "Inter";
    src: url("/assets/Inter.woff2") format("woff2");
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
}

@theme {
    /* Colores */
    --color-primary: #c2faff;
    --color-primary-light: #f9ce34;
    --color-secondary: #333333;

    /* Breakpoints */
    --breakpoint-xs: 350px;

    /* Font */
    /* --font-sans: "Inter", system-ui, sans-serif;  Aquí sobreescribimos la fuente por defecto */
    --font-display: "Inter", system-ui, sans-serif; 
}

.social-button {
    @apply p-2 size-12 xs:size-16 flex items-center justify-center rounded-full hover:scale-110 transition-all;
}